
BlazorPractice/.vs/

BlazorPractice/Client/bin/

BlazorPractice/Client/obj/

BlazorPractice/Client/Properties/

PushFolder/wwwroot/_framework/

PushFolder/wwwroot/css/

PushFolder/

BlazorPractice/Server/bin/

BlazorPractice/Server/obj/

BlazorPractice/Shared/bin/

BlazorPractice/Shared/obj/
